html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
input {
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 420px) {
  .sm-visible {
    display: none;
  }
}

.sm-hidden {
  display: none;
}

@media screen and (min-width: 420px) {
  .sm-hidden {
    display: initial;
  }
}

/* Highlight 5 stars out of 5 */
[data-rating="5"] > .fa-star:nth-child(1),
[data-rating="5"] > .fa-star:nth-child(2),
[data-rating="5"] > .fa-star:nth-child(3),
[data-rating="5"] > .fa-star:nth-child(4),
[data-rating="5"] > .fa-star:nth-child(5) {
  color: #0065FC;
}

/* Highlight 4 stars out of 5 */
[data-rating="4"] > .fa-star:nth-child(1),
[data-rating="4"] > .fa-star:nth-child(2),
[data-rating="4"] > .fa-star:nth-child(3),
[data-rating="4"] > .fa-star:nth-child(4) {
  color: #0065FC;
}

/* Highlight 3 stars out of 5 */
[data-rating="3"] > .fa-star:nth-child(1),
[data-rating="3"] > .fa-star:nth-child(2),
[data-rating="3"] > .fa-star:nth-child(3) {
  color: #0065FC;
}

/* Highlight 2 stars out of 5 */
[data-rating="2"] > .fa-star:nth-child(1),
[data-rating="2"] > .fa-star:nth-child(2) {
  color: #0065FC;
}

/* Highlight 1 star out of 5 */
[data-rating="1"] > .fa-star:nth-child(1) {
  color: #0065FC;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alert__icon--circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #0065FC;
}

.alert__message {
  margin-top: 4px;
  margin-left: 1rem;
}

.form--sm {
  max-width: 420px;
}

.controls--inline {
  position: relative;
}

.controls__prepend, .controls__append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1.6rem;
}

.controls__prepend {
  left: 0;
  border-radius: 1.2rem 0 0 1.2rem;
  background-color: #F2F2F2;
}

.controls__append {
  right: 0;
  border-radius: 0 1.2rem 1.2rem 0;
  background-color: #0065FC;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 419px) {
  .controls__append {
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
  }
}

.controls__input {
  width: 100%;
  padding: 1.2rem 5rem;
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-radius: 10rem;
  font-weight: bold;
}

.filters--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6rem 1rem 0.6rem 0;
  border: 2px solid #d9d9d9;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filter {
    margin: 1.2rem 2.4rem 1.2rem 0;
  }
}

.filter--rounded {
  border-radius: 10rem;
}

.filter__icon--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #DEEBFF;
  color: #0065FC;
  font-size: 1.8rem;
}

.filter__label {
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .filter__label {
    font-size: 1.8rem;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3rem;
}

.card {
  border-radius: 2rem;
  background-color: white;
  overflow: hidden;
  border: 4px solid white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  /* Vertically oriented cards (= default) */
  /* Horizontally oriented cards */
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1.8rem;
}

.card__title {
  margin: 0;
  font-size: 1.6rem;
}

.card__body {
  font-size: 1.4rem;
  margin-top: 0.9rem;
}

.card__footer {
  margin-top: auto;
  font-size: 1.2rem;
  color: #d9d9d9;
}

.card--default {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 245px;
}

.card--default .card__header {
  height: 115px;
}

.card--default .card__body {
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}

.card--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 145px;
  min-width: 280px;
  max-width: 960px;
}

.card--inline .card__header {
  width: 40%;
  min-width: 128px;
  max-width: 286px;
  height: 100%;
}

.card--fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 640px) {
  .card--fluid:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

@media screen and (min-width: 640px) {
  .card--fluid:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
}

@media screen and (min-width: 1024px) {
  .card--fluid:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

.card--fluid .card__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.card--fluid .card__title {
  padding: 1.2rem;
}

@media screen and (max-width: 767px) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2rem calc(50% - 2rem) calc(50% - 2rem) 2rem;
        grid-template-columns: 2rem calc(50% - 2rem) calc(50% - 2rem) 2rem;
    -ms-grid-rows: 8rem auto;
        grid-template-rows: 8rem auto;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.header__brand {
  width: 9.6rem;
  margin-bottom: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 767px) {
  .header__brand {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 767px) {
  .header__subscription {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .header__subscription {
    all: unset;
    padding: 5rem 0 5rem 3.4rem;
  }
}

.header__subscription .btn {
  font-weight: bold;
  color: #0065FC;
}

@media screen and (max-width: 767px) {
  .header__nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .header__nav li {
    display: block;
    width: 50%;
  }
}

.header__link {
  display: block;
  text-align: center;
}

.header__link:hover, .header__link:focus {
  border-color: #0065FC;
  color: #0065FC;
}

@media screen and (max-width: 767px) {
  .header__link {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    border-bottom: 3px solid #F2F2F2;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    padding: calc(5rem - 3px) 3.4rem 5rem;
    border-top: 3px solid transparent;
  }
}

.lead__container {
  padding: 3rem 2rem;
}

@media screen and (min-width: 768px) {
  .lead__container {
    padding-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .lead__container {
    padding: 0 5rem 2rem 5rem;
  }
}

.lead__title {
  margin: 0;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 2.2rem;
  }
}

.lead__form {
  margin-top: 3.6rem;
}

@media screen and (min-width: 768px) {
  .lead__form {
    margin-top: 3.2rem;
  }
}

.lead__filters {
  margin-top: 3.6rem;
}

@media screen and (min-width: 768px) {
  .lead__filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2.6rem;
  }
}

.lead__subtitle {
  margin: 0;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin-right: 3.6rem;
  }
}

.lead__info {
  margin-top: 3.6rem;
}

@media screen and (min-width: 768px) {
  .lead__info {
    margin-top: 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .accomodations__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 420px;
        grid-template-columns: auto 420px;
    grid-gap: 4rem;
    padding: 0 5rem 5rem 5rem;
  }
}

.accomodations__popular, .accomodations__city {
  padding: 3.6rem 2rem;
}

@media screen and (min-width: 1024px) {
  .accomodations__popular, .accomodations__city {
    padding: 4.6rem 4rem;
    border-radius: 2rem;
    background-color: #F2F2F2;
  }
}

.accomodations__popular {
  background-color: #F2F2F2;
}

@media screen and (min-width: 1024px) {
  .accomodations__popular {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .accomodations__city {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.accomodations__title {
  margin-top: 0;
  margin-bottom: 2.6rem;
  font-size: 2.2rem;
}

.accomodations__footer {
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .accomodations__footer {
    margin-top: 4.6rem;
  }
}

.accomodations__link {
  font-size: 1.8rem;
  font-weight: bold;
}

.activities__container {
  padding: 0 2rem 5rem 2rem;
}

@media screen and (min-width: 1024px) {
  .activities__container {
    padding: 0 5rem 6rem 5rem;
  }
}

.activities__title {
  margin-bottom: 2.6rem;
  font-size: 2.2rem;
}

.activities__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (192px)[6];
      grid-template-rows: repeat(6, 192px);
  grid-gap: 2.4rem;
}

@media screen and (min-width: 640px) {
  .activities__gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (192px)[4];
        grid-template-rows: repeat(4, 192px);
  }
}

@media screen and (min-width: 1024px) {
  .activities__gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (192px)[2];
        grid-template-rows: repeat(2, 192px);
  }
}

.footer {
  background-color: #F2F2F2;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4.6rem 3rem;
}

@media screen and (min-width: 1024px) {
  .footer__container {
    padding: 5rem 5rem 0;
  }
}

.footer__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 360px;
}

.footer__list:not(:last-child) {
  margin-bottom: 5rem;
}

.footer__title {
  margin-top: 0;
}

.footer__links > li:not(:last-child) {
  margin-bottom: 2rem;
}

.footer__links a:hover {
  color: #0065FC;
}
/*# sourceMappingURL=main.css.map */