.accomodations {

    &__container {

        @include min-lg {
            display: grid;
            grid-template-columns: auto 420px;
            grid-gap: 4rem;
            padding: 0 5rem 5rem 5rem
        }
    }

    &__popular,
    &__city {
        padding: 3.6rem 2rem;

        @include min-lg {
            padding: 4.6rem 4rem;
            border-radius: 2rem;
            background-color: $gray;
        }
    }

    &__popular {
        background-color: $gray;

        @include min-lg {
            grid-column: 2 / 3;
            align-self: start;
        }

        @include min-xl {
            align-self: initial;
        }

        
    }

    &__city {
        @include min-lg {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 2.6rem;
        font-size: 2.2rem
    }

    &__footer {
        margin-top: 3rem;

        @include min-lg {
            margin-top: 4.6rem;
        }
    }

    &__link {
        font-size: 1.8rem;
        font-weight: bold;

        &:hover {
            color: $blue;
        }
    }

}