.footer {
    background-color: $gray;

    &__container {
        display: flex;
        flex-wrap: wrap;
        padding: 4.6rem 3rem;

        @include min-lg {
            padding: 5rem 5rem 0;
        }
    }

    &__list {
        flex: 1;
        min-width: 360px;
    }

    &__list:not(:last-child) {
        margin-bottom: 5rem;
    }

    &__title {
        margin-top: 0;
    }

    &__links > li:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__links a:hover {
        color: $blue;
    }
}