.lead {
    &__container {
        padding: 3rem 2rem;

        @include min-md {
            padding-top: 0;
        }

        @include min-lg {
            padding: 0 5rem 2rem 5rem;
        }
    }

    &__title {
        margin: 0;
        font-size: 2rem;

        @include min-md {
            font-size: 2.2rem;
        }
    }

    &__form {
        margin-top: 3.6rem;

        @include min-md {
            margin-top: 3.2rem;
        }
    }

    &__filters {
        margin-top: 3.6rem;

        @include min-md {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 2.6rem;
        }
    }

    &__subtitle {
        margin: 0;
        font-size: 1.8rem;

        @include min-md {
            margin-right: 3.6rem;
        }
    }

    &__info {
        margin-top: 3.6rem;

        @include min-md {
            margin-top: 3.2rem;
        }
    }
}