.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sm-visible {
    @include min-sm {
        display: none;
    }
}

.sm-hidden {
    display: none;

    @include min-sm {
        display: initial;
    }
}