.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;

    &-baseline {
        align-items: baseline;
    }

    &-between {
        justify-content: space-between;
    }
}

.sm-visible {
    @include min-xs {
        display: none;
    }
}

.sm-hidden {
    display: none;

    @include min-xs {
        display: initial;
    }
}

.hidden {
    display: none;
}

/* Highlight 5 stars out of 5 */
[data-rating="5"] {
    & > .fa-star:nth-child(1),
    & > .fa-star:nth-child(2),
    & > .fa-star:nth-child(3),
    & > .fa-star:nth-child(4),
    & > .fa-star:nth-child(5) {
        color: $blue;
    }
}

/* Highlight 4 stars out of 5 */
[data-rating="4"] {
    & > .fa-star:nth-child(1),
    & > .fa-star:nth-child(2),
    & > .fa-star:nth-child(3),
    & > .fa-star:nth-child(4) {
        color: $blue;
    }
}

/* Highlight 3 stars out of 5 */
[data-rating="3"] {
    & > .fa-star:nth-child(1),
    & > .fa-star:nth-child(2),
    & > .fa-star:nth-child(3) {
        color: $blue;
    }
}

/* Highlight 2 stars out of 5 */
[data-rating="2"] {
    & > .fa-star:nth-child(1),
    & > .fa-star:nth-child(2) {
        color: $blue;
    }
}

/* Highlight 1 star out of 5 */
[data-rating="1"] {
    & > .fa-star:nth-child(1) {
        color: $blue;
    }
}